/* Style the tab */
h1 {
  text-align: center;
  background-color: #2bbc7d;
}

.tab {
  overflow: hidden;
  border: 1px solid #69efad;
  background-color: #69efad;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.audio {
  width: 100%;
}

table,
th,
td {
  border: 1px groove #69efad;
}

table {
  border-collapse: collapse;
  text-align: center;

}

th {
  background-color: #69efad;
  padding: 5px 20px;
  font-size: 18px;
}

td {
  padding: 5px 20px;
}

.rowle {
  background-color: #e8fcf4;
}

.rowchan {
  background-color: white;
}
p{
  color: rgb(201, 15, 15);
  font-weight: 600;
}