* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  position: relative;
  font-size: 62.5%;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
  /* 62.5% = 10px */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --pink: #f55f8d;
  --orange: #f8ae56;
  --heading-text: #262626;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: block;
  background-image: linear-gradient(
    to right,
    var(--pink) 0,
    var(--orange) 51%,
    var(--pink) 100%
  );
  transition: all 0.5s;
  background-size: 200%;
}

.btn-gradient:hover {
  background-position: right center;
}

/* HEADER CSS  */
.header {
  font-size: 1.5rem;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
}

.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__content nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__content nav a {
  margin: 5.5rem 1.5rem;
  /* padding: 5.5rem 1.5rem; */
  /* dùng margin thay cho padding để tránh bug khi hover vào khoảng giữa 2 thẻ a cũng bị hiệu ứng đổi màu của text */
  color: var(--heading-text);
  font-weight: 500;
}

.header .header__content nav a:hover {
  color: var(--pink);
}

.header .header__content a span {
  display: inline-block;
  transition: all 1s;
}

.header .header__content a:hover span {
  animation: upToDown 0.3s forwards;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}

.header .header__content nav a i {
  font-size: 0.9rem;
  margin-top: -0.3rem;
  vertical-align: middle;
}

.header .header__content nav div {
  margin-left: 3rem;
}

/* END HEADER CSS */

/* CAROUSEL CSS */
.carousel {
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
  padding-top: 18rem;
}

.carousel .carousel__content {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel__detail {
  width: 60%;
}

h4.h4-common {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--pink);
  margin-bottom: 2rem;
}

h2.h2-common {
  font-size: 7rem;
  line-height: 1.1;
  font-weight: 800;
  color: var(--heading-text);
  margin-bottom: 2rem;
}

.carousel__detail p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.carousel__detail ul {
  margin-bottom: 2rem;
}

.carousel__detail li {
  padding: 1rem 0.5rem 1rem 0;
  font-size: 2rem;
}

.carousel__detail li i {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 2.4rem;
  color: #fff;
  border-radius: 3.5rem;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    var(--pink) 0,
    var(--orange) 51%,
    var(--pink) 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

.carousel__img {
  visibility: visible;
  width: 40%;
  position: absolute;
  right: -11%;
  margin-left: 5rem;
  width: 570px;
}

.carousel__img img {
  max-width: 100%;
  display: block;
}

/* SERVICE CSS */
.service {
  text-align: center;
  background-image: url(../img/bg2.png);
  padding-top: 11.5rem;
  background-size: cover;
  background-position: top center;
}

.service__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.service__item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 3rem 4.5rem;
  transition: all 0.5s;
}

.service__item:hover {
  transform: translateY(-2rem);
}

.service__item img {
  width: 215px;
}

h3.h3-common {
  font-weight: 700;
  font-size: 2.4rem;
  color: #262626;
  margin: 1.5rem 0;
}

.service__item p {
  font-size: 1.6rem;
}

/* ABOUT US CSS */
.aboutUs {
  padding-top: 11.5rem;
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 8.5rem;
  overflow: hidden;
}

.aboutUs__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutUs__img {
  visibility: visible;
  width: 60%;
  position: absolute;
  left: -17%;
}

.aboutUs__img img {
  width: 100%;
  border-radius: 0 10rem 10rem 0;
}

.aboutUs__detail {
  visibility: visible;
  width: 50%;
}

.aboutUs__detail p {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.aboutUs__detail ul {
  margin-bottom: 3rem;
}

.aboutUs__detail li {
  font-size: 1.6rem;
  list-style: none;
  margin-bottom: 1rem;
}

.aboutUs__detail li i {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--pink);
  border-radius: 50%;
  font-weight: 900;
  margin-right: 1rem;
  border: 2px solid var(--pink);
}

/* countUp CSS */
.countUp {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 8rem 0 5rem;
  text-align: center;
}

.countUp__content {
  display: flex;
  justify-content: space-around;
}

.countUp__item i {
  font-size: 4.5rem;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(
    to right,
    var(--pink) 0,
    var(--orange) 51%,
    var(--pink) 100%
  );
  background-size: 200%;
  color: #fff;
}

.countUp__item p:first-of-type {
  font-size: 6.5rem;
  color: var(--pink);
  font-weight: 800;
  line-height: 1;
}

.countUp__item p:last-of-type {
  font-size: 1.8rem;
  color: var(--heading-text);
}

/* FEATURES CSS */
.features {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 11.5rem;
}

.features__content {
  display: flex;
  position: relative;
}

.features__left,
.features__right {
  width: 50%;
}

.features__item {
  padding: 0 5rem 3rem 0;
}

.features_bg {
  box-shadow: 0 0 6rem 0 rgb(0 0 0 / 10%);
  padding: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.features_bg::after {
  content: "";
  background-image: linear-gradient(
    to right,
    var(--pink) 0,
    var(--orange) 51%,
    var(--pink) 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
  border-radius: 1rem;
}

.features_bg:hover::after {
  opacity: 1;
}

.features__item--2 {
  padding: 0 0 3rem 5rem;
}

.features__item i {
  font-size: 8rem;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}

.features__item-text p {
  font-size: 1.6rem;
}

.features__item-text {
  padding-left: 2.5rem;
}

.features__item-text .h3-common {
  margin: 0 0;
  transition: all 1s;
}
.features__item div {
  z-index: 1;
  transition: all 1s;
}

.features_bg:hover div,
.features_bg:hover h3,
.features_bg:hover i {
  color: #fff;
}

.features__right {
  position: absolute;
  visibility: visible;
  width: 60%;
  top: -3%;
  right: -10%;
}

.features__right img {
  max-width: 100%;
  animation: rotate 5s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(1.5deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1.5deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1.5deg) translate(2px, 2px);
  }
}

/* PORTFOLIO */
.portfolio {
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.portfolio__item-1 {
  grid-column: 1 / span 2;
}

.portfolio__item-2 {
  grid-column: 3 / span 2;
}

.portfolio__item-5 {
  grid-column: 1 / span 2;
}

.portfolio__item-6 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
  display: block;
}
