* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  position: relative;
  font-size: 62.5%;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
  /* 62.5% = 10px */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --pink: #f55f8d;
  --orange: #f8ae56;
  --heading-text: #262626;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: block;
  background-image: linear-gradient(
    to right,
    var(--pink) 0,
    var(--orange) 51%,
    var(--pink) 100%
  );
  transition: all 0.5s;
  background-size: 200%;
}

.btn-gradient:hover {
  background-position: right center;
}

h4.h4-common {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--pink);
  margin-bottom: 2rem;
}

h2.h2-common {
  font-size: 7rem;
  line-height: 1.1;
  font-weight: 800;
  color: var(--heading-text);
  margin-bottom: 2rem;
}

.testimonial {
  padding-top: 115px;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(3, 50px);
  background: #9ae66e;
}

.sidebar {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  background: #ff5959;
}

.main {
  background: #548cff;
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}
