* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    font-size: 16px;
}

.services__item{
    float: left;
    width: 33.33%;
    padding: 20px;
}

.services__img{
    background-image: url(./img/service_icon_bg_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 160px;
    height: 160px;
    position: relative;
}
img{
    position: absolute;
    top: 40px;
    left: 40px;
}