/* GLOBAL CSS  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
/* HEADER CSS */
.header{
    padding: 20px 0 0;
}
.header__content ul{
    margin: 20px 0px;
}
.header__content li{
    display: inline;
    margin: 0px 20px;
}

.header__content i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #002045;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: #f9cd00;
    margin-right: 10px;
}

.header__content h2 a{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #191b30;
    text-decoration: none;
}
.header__content{
    position: relative;
}
.header__content h2{
    position: absolute;
    top: 1px;
    display: inline;
}
.header__content li a{
    font-family: Arial, Helvetica, sans-serif;
    color: #212030;
    text-decoration: none;
}
.header__content li a:hover{
    color: #fdc800;
}

/* CAROUSEL CSS */
.carousel{
    background-image: url(./images/2.jpg);
    height: 600px;
    background-size: cover;
    margin-bottom: 50px;
}