* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1280px;
  /* background-color: rgb(123, 241, 123); hoặc có thể cho background-color = transparent*/
  /* max-width và width khác nhau, gắn max-width để khi màn hình vượt to qúa mức 1280px thì nó ko to nữa, còn nếu màn hình nhỏ thì nó sẽ chỉnh theo kích thước màn hình, ko sinh ra thanh cuộn ngang, kích thước của container bắt buộc phải set cứng, ko dùng phần % */
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
}

.header__container {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header .logo {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
}

.header .navbar a {
  color: #ffffff;
  font-size: 18px;
  margin-right: 30px;
  transition: 0.3s;
  /* text-transform: ; dùng để chỉnh chữ hoa, chữ thường, thay vì phải gõ trong html*/
}

.navbar a.active {
  color: #e62b4a;
}

.navbar a:hover {
  color: #e62b4a;
}

/* START CAROUSEL */
.carousel {
  background-image: url(../image-video/home_slider.jpg);
  height: 80vh;
  /* vh là đơn vị chiều cao tương ứng với màn hình mà user đang dùng, có giá trị như % */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.carousel__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* có thể set width, height cũng được, có thể không set cũng đc, hoặc có thể set width, height = max-content */
}

.carousel__content p {
  font-size: 30px;
}

.carousel__content h2 {
  margin: 20px 0;
  font-size: 50px;
}

.carousel__content button {
  padding: 15px 30px;
  color: #ffffff;
  background-color: #e62b4a;
  border: none;
  font-size: 24px;
}

.carousel__content i {
  font-size: 30px;
  animation: animate1 1s linear 0s infinite;
}

@keyframes animate1 {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
/* END CAROUSEL */

/* Service */
/* dùng slick js để làm hiệu ứng cho phần service_carousel : , tốt nhất là copy code của thư viện bỏ vào html, copy phần code của getting start, xong rồi DL thư viện về giải nén và copy vào folder dự án của mình*/
.service {
  padding: 80px 0;
  background: black;
}

.carousel__item {
  height: 250px;
  padding: 10px;
}

.carousel__item .item__container {
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: relative;
}

.carousel__item .item__container::before {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 5px;
  background: red;
  right: 0;
  top: 0;
  transition: 0.3s;
}

.carousel__item .item__container:hover::before {
  height: 100%;
  /* hoặc dùng translate Y
  cách 1: thẻ cha height: 0px, thẻ hover: height 100%
  cách 2: dùng transform: translate Y */
}

/* muốn mất 2 cái dấu mũi tên 2 bên thì vào inspect và xem nó là css gì thì display: none là nó mất, hoặc vào đoạn scrip dưới js thêm vào arrows: false */
/* end service */

.slick-dots li button::before {
  color: white;
  opacity: 0.5;
  font-size: 15px;
}

.slick-dots li.slick-active button::before {
  color: #ffffff;
  opacity: 1;
}

/* luôn để thẻ active ở phía sau để nó ghi đè code */

/* NEWS */
.news {
  padding: 80px 0;
}

.news__title {
  text-align: center;
}

.news__title h4 {
  color: #888888;
  font-weight: 400;
  font-size: 14px;
}

.news__title h2 {
  color: black;
  font-size: 50px;
  font-weight: 400;
}

.news__title p {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
}

.news__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.news__item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background: #ffffff;
}
.news__item-10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.news__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%) contrast(50%);
}
.news__item {
  position: relative;
}
.news__item .item__overlay {
  opacity: 0;
  background-color: rgba(230, 43, 74, 0.6);
  height: 100%;
  width: 100%;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
}

.item__overlay .search {
  width: 50px;
  height: 50px;
  background: #000;
  color: white;
  position: absolute;
  top: 70px;
  right: 20px;
  line-height: 50px;
  text-align: center;
  transition: all 1s;
}

.news__item .item__overlay:hover {
  opacity: 1;
}

.news__item .item__overlay:hover .search {
  top: 20px;
}

/* STATISTIC */
.statistic {
  background-color: #000;
  padding: 80px 80px;
  color: #ffffff;
  text-align: center;
}
.statistic__list {
  display: flex;
  justify-content: space-around;
}

.statistic__item h2 {
  font-size: 60px;
  font-weight: 300;
}

.statistic__item p {
  font-size: 20px;
  color: #888888;
}

.contact__content {
  display: flex;
  height: 50vh;
}

.contact__map {
  width: 60%;
  height: 100%;
  flex-shrink: 0;
}
/* ctrl + tab sẽ di chuyển giữa 2 trang đang làm việc gần nhất */
/* đơn vị vh ăn theo chuẩn màn hình */

.contact__form form {
  flex-grow: 1;
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.contact__form form * {
  padding: 15px;
  font-size: 20px;
  width: 100%;
}

.contact__form textarea {
  height: 30%;
}

/* Responsive max-width màn hình lớn đến màn hình bé*/
@media screen and (max-width: 992px;) {
  .demo_before_after h2 {
    color: blue;
  }
}

@media screen and (max-width: 1200px) {
  .demo_before_after h2 {
    color: black;
  }
}

@media screen and (min-widht: 992px) {
  .statistic__list {
    flex-direction: row;
  }
}
